<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/Users/michaelthomasmacbook/Applications/programming/webDevProjects/loginForm/public/assets/styles.css" type="text/css">
    <meta charset="utf-8">
    <title>San Diego Dogs</title>
  </head>
  <body>
    <header>
      <img class="main-logo" src="/Users/michaelthomasmacbook/Applications/programming/webDevProjects/loginForm/public/assets/main-logo.png" alt="dog logo">
        <nav>
          <ul class="main-nav">
            <li><a href="#">Home</a></li>
            <li><a href="https://www.sandiego.gov/park-and-recreation/parks/dogs/leashfree" target="_blank">Play</a></li>
            <li><a href="#">Resources</a></li>
          </ul>
        </nav>
        <h2>Welcome, <%= name %> </h2>
        <button class="button" type="button" name="contact">Reach Out</button>
    </header>
    <section class="main-content home-page-background">
      <div class="content-box">
        <h2>Find local parks.</h2>
        <p>Find dog parks and dog friendly beaches local to you.
          Read reviews so you know what to expect upon arrival.</p>
      </div>
      <div class="content-box">
        <h2>Connect with local vets.</h2>
        <p>Finding a vet can be tricky business.
        <br>However, with our vet finder tool, the most
        <br>
        sought after vets are right at your fingertips.</p>
      </div>
      <div class="content-box">
        <h2>One stop shop for all dog info.</h2>
        <p>Need to get a license?
        <br>
        No problem.
        <br>
        Need to find a pet store to get that new toy?
        <br>
        No problem!
        <br>
        Here at Doggomatic we have the links for all the random things
        that might come up.
        </p>
      </div>
      <div class="content-box">
        <h2>Find local parks.</h2>
        <p>Find dog parks and dog friendly beaches local to you.
          Read reviews so you know what to expect upon arrival.</p>
      </div>
      <div class="content-box">
        <h2>Connect with local vets.</h2>
        <p>Finding a vet can be tricky business.
        <br>However, with our vet finder tool, the most
        <br>
        sought after vets are right at your fingertips.</p>
      </div>
      <div class="content-box">
        <h2>One stop shop for all dog info.</h2>
        <p>Need to get a license?
        <br>
        No problem.
        <br>
        Need to find a pet store to get that new toy?
        <br>
        No problem!
        <br>
        Here at Doggomatic we have the links for all the random things
        that might come up.
        </p>
      </div>
      <div class="content-box more-content">
        <h2>This is more info about dogs</h2>
        <p>This is more stuff about dogs</p>
        <p>Maybe some stuff about yours</p>
      </div>
    </section>
    <footer>
      <h1>Doggo-matic&copy;</h1>
      <button class="button" type="button" name="contact">Reach Out</button>
      <form action="/logout?_method=DELETE" method="POST">
        <button class="button" type="submit">Log Out</button>
      </form>
    </footer>
  </body>
</html>
